.footer {
  background-color: #122341;
  margin-top: 100px;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}
a .footercontact-1:hover {
  color: #fabe29;
}
.grid-2 {
  gap: 50px;
}

.footercontact-0 {
  font-size: 27px;
}
.footercontact-1 {
  font-size: 17px;
}
.footerbody-1 {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}
