:root {
  --primary-color: #1a73e8;
  --secondary-color: #fabe29;
}

/*Navbar*/

.nav {
  background: linear-gradient(to right, #091929 0%, #1e4980 100%);
  position: relative;
  width: 100%;
  transition: all 0.3s ease;
}

.nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: var(--primary-color);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
.navbar {
  height: 70px;
  top: 0;
}
.logo {
  font-size: 30px;
  font-weight: bold;
  color: var(--secondary-color);
  position: relative;
  z-index: 2;
}
.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
}
.navbar ul li a {
  text-decoration: none;
  color: white;

  font-size: 18px;
}

.hire {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;

  font-size: 18px;
  position: relative;
  z-index: 2;
}
.hire:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.navbar .flex {
  justify-content: space-between;
}
.navbar ul li {
  margin: 0 10px;
}
.navbar ul li a:hover {
  color: var(--secondary-color);
}

/*Welcome*/

.welcome {
  background: linear-gradient(to right, #091929 0%, #1e4980 100%);

  padding: 20px;
}

.welcome-vibe {
  font-size: 50px;
  padding-top: 10px;
  color: white;
}
.welcome-paragraph {
  font-size: 20px;
  color: white;
  margin-top: 20px;
}

.welcome-button {
  gap: 20px;
  margin-top: 20px;
  margin-right: 150px;
}
.welcome-button1 {
  background-color: var(--secondary-color);
  padding: 20px 30px;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

.welcome-button1:hover {
  background-color: #fff;
  color: var(--primary-color);
  transition: 0.3s ease-in-out;
}

.welcome-link {
  text-decoration: none;
  color: inherit;
}

.welcome-button2 {
  color: #fff;
  padding: 15px 25px;

  cursor: pointer;
}
.welcome-button2:hover {
  color: var(--secondary-color);
  transition: 0.3s ease-in-out;
}
.welcome-image {
  width: 100%;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.logo-container {
  margin-left: 100px;
}

.logo2 {
  width: 300px;
  height: 300px;
}
.youtube {
  animation: pulse 1.8s infinite ease-in-out;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.15);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.tiktok {
  animation: beat 0.9s infinite ease-in-out;
}

@keyframes beat {
  0%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-4px);
  }
  60% {
    transform: translateY(2px);
  }
}

/* Responsive Design */

/* Tablets and under */
