.projects-heading {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
}
.projects-paragraph {
  max-width: 700px;
  margin: 10px auto;
  text-align: center;
  font-size: 18px;
  color: #555;
  line-height: 1.6;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.projectgallery {
  font-size: 30px;
  font-weight: bold;
}

.projectgallery-item1 {
  background-color: #476548;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  font-size: 20px;
}

.projectgalleryitem1-link {
  color: #fff;
  font-weight: bold;
  padding: 120px;
}

.projectgallery-item2 {
  background-color: #ab1e43;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  font-size: 20px;
}
.projectgalleryitem2-link {
  color: #fff;

  font-weight: bold;
  padding: 120px;
}

.projectgallery-item3 {
  background-color: #0d2b29;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  font-size: 20px;
}
.projectgalleryitem3-link {
  color: #fff;

  font-weight: bold;
  padding: 120px;
}
.projectgallery-item4 {
  background-color: #d8739e;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  font-size: 20px;
}
.projectgalleryitem4-link {
  color: #fff;

  font-weight: bold;
  padding: 120px;
}

.projectgallery-item5 {
  background-color: #0f52ba;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  font-size: 20px;
}
.projectgalleryitem5-link {
  color: #fff;

  font-weight: bold;
  padding: 120px;
}
.projectgallery-item6 {
  background-color: #3c2f2f;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  font-size: 20px;
}
.projectgalleryitem6-link {
  color: #fff;

  font-weight: bold;
  padding: 120px;
}

.projectgallery-item7 {
  background-color: #0a1a2f;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  font-size: 20px;
}
.projectgalleryitem7-link {
  color: #fff;

  font-weight: bold;
  padding: 120px;
}

.projectgallery-item8 {
  background-color: #d4af37;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  font-size: 20px;
}
.projectgalleryitem8-link {
  color: #fff;

  font-weight: bold;
  padding: 120px;
}
.projectgallery-item9 {
  background-color: #2c001e;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  font-size: 20px;
}
.projectgalleryitem9-link {
  color: #fff;

  font-weight: bold;
  padding: 120px;
}

.projectgallery-item10 {
  background-color: #ff4d4d;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  font-size: 20px;
}
.projectgalleryitem10-link {
  color: #fff;

  font-weight: bold;
  padding: 120px;
}

.projectgallery-item11 {
  background-color: #03120e;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  font-size: 20px;
}
.projectgalleryitem11-link {
  color: #fff;

  font-weight: bold;
  padding: 120px;
}

.projectgallery-item12 {
  background-color: #a7beae;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  font-size: 20px;
}
.projectgalleryitem12-link {
  color: #fff;

  font-weight: bold;
  padding: 120px;
}
.divider-2 {
  width: 90%;

  margin: 30px auto;
}
