.testimonials {
  margin-top: 100px;
}
.testimonial-heading {
  text-align: center;
  font-size: 30px;
}
.testimonial-paragraph {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}
.testimonial-details {
  margin-top: 30px;
}
.testimonial-item {
  border: 1px solid #fff;
  border-radius: 7px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.fa-star {
  color: gold;
}
.testimonialitem-1 {
  font-weight: bold;
  font-size: 18px;
}
.testimonialitem-0 {
  font-weight: 400;
}
