@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
:root {
  --primary-color: #1a73e8;
  --secondary-color: #fabe29;
}

html,
body {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato";

  line-height: 1.6;
  margin: 0;
}

/*Multiple use styles*/
.container {
  max-width: 1100px;
  margin: 0 auto;

  padding: 0 40px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/*Margin*/
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}
.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}
.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* Padding */
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}
.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}
.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}
